<p id="notice"><%= notice %></p>

<h1>Listing Bcards</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Linkedin</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th>Pinterest</th>
      <th>Name</th>
      <th>Company</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bcards.each do |bcard| %>
      <tr>
        <td><%= bcard.address %></td>
        <td><%= bcard.linkedin %></td>
        <td><%= bcard.facebook %></td>
        <td><%= bcard.twitter %></td>
        <td><%= bcard.instagram %></td>
        <td><%= bcard.pinterest %></td>
        <td><%= bcard.name %></td>
        <td><%= bcard.company %></td>
        <td><%= bcard.website %></td>
        <td><%= link_to 'Show', bcard %></td>
        <td><%= link_to 'Edit', edit_bcard_path(bcard) %></td>
        <td><%= link_to 'Destroy', bcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bcard', new_bcard_path %>
