<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @bcard.address %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @bcard.linkedin %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @bcard.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @bcard.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @bcard.instagram %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @bcard.pinterest %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bcard.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bcard.company %>
</p>
<p>
  <strong>Website:</strong>
  <%= @bcard.website %>
</p>

<%= link_to 'Edit', edit_bcard_path(@bcard) %> |
<%= link_to 'Back', bcards_path %>
