<%= form_for(@tagcard) do |f| %>
  <% if @tagcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tagcard.errors.count, "error") %> prohibited this tagcard from being saved:</h2>

      <ul>
      <% @tagcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.number_field :tags %>
  </div>
  <div class="field">
    <%= f.label :bcard_id %><br>
    <%= f.number_field :bcard_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
